#background{
    box-shadow: 0 0 5px 5px #5aa0f9 !important;
    background: #5aa0f9;
    border-radius: 15% !important;
    z-index: 10;
    background-color: lightgray !important;
    display: block;
    margin: 25px 15px;
    clear: both;

    width: 450px;
    height: 450px;
}

.game-section{ 
    margin: 0 auto;
    width: 600px;
}
.game-section h1{
    padding: 0 0 0 100px;
}